#navbar {
    position: absolute;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    border: none;
    box-shadow: none;
    /* min-height: 300px;
    background-image: url(/images/cover-photo.jpg);
    background-size: cover;
    background-position-y:70%; */
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px); */
}
#navbar > h1{
    color: rgb(255, 247, 223);
}
#menuScreen{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgb(0, 0, 0, .4) 100%);  
}
#menuScreen > a:hover {
    background-color: rgba(0,0,0,.1);
}
#navWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 400px;
    background-image: url(/images/cali2021.jpeg);
    background-size:cover;
    background-position-y: 70%;
    background-position-x: 50%;
    -webkit-box-shadow: inset 0px 0px 250px 0px #000000; 
    box-shadow: inset 0px 0px 250px 0px #000000;
}
@media (max-width:900px) {
    #navWrapper {
        padding-bottom: 300px;
        background-image: url(/images/cali2021_c.jpeg);
    }
}
.clickedBG {
    background-color: none;
}
.blur {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
}
#mainBody {
    position: relative;
    width: fit-content;
    margin-left: 15%;
    margin-right: 15%;
    top: -100px;
}
#profilePicture{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    /* left: 333px; */
    border-radius: 50px;
    background-image: url(/images/pp.jpeg);
    background-size: cover;
    background-position-y: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
}
#Name {
    position: relative;
    display: inline-block;
    top: -50px;
    left: 20px;
    /* left: 347px; */
    font-size: 35px;
    font-weight: 600;
}
#Name > p{
    color: rgb(255, 247, 223);
}
#contentsContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-start;
    width: 100%;
    margin: auto;
}
.block {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.block > h1,h2,h3 {
    position: relative;
    right: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.block > p {
    padding-right: 70px;
    line-height: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: rgb(255, 247, 223);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.block > .pHeaders,a {
    color: rgb(193, 179, 255);
    font-weight: bold;
    text-decoration: none;
}
#contactsBlock > .pHeaders {
    color: rgb(193, 179, 255);
    font-weight: bold;
    padding-left: 0px;
}
#contactsBlock {
    color: rgb(255, 247, 223);
    width: 300px;
    padding-left: 20px;
}
.fixContactBlock {
    position: fixed;
    right: 170px;
    top: 0px;
    width: 300px;
}
.dummy {
    display: none;
    opacity: 0;
    height: 0;
    width: 300px;
}
@media (max-width:1100px) {
    #contentsContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start;
    }
    #contactsBlock {
        display: inline-block;
        padding: 0;
        width: 100%;
        padding-right: 40px;
    }
    #Name {
        font-size: 20px;
    }
    #profilePicture{
        left: 0px;
    }
    #Name {
        left: 20px;
    }
    #mainBody {
        margin-left: 40px;
        margin-right:0;
    }
    .block > p {
        padding-right: 40px;
    }   
}
.KFfadeout{
    animation-name: fadeout;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    animation-duration:75ms;
}
@keyframes fadeout {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(.8);
    }
}
.KFfadein{
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    animation-duration:75ms;
}
@keyframes fadein {
    0% {
      opacity: 0;
      transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.skillBlocks {
    display: inline-block;
    padding: 5px;
    background-color: rgb(104, 95, 145);
    color:rgb(255, 250, 236);
    border-radius: 4px;
    margin-top: 10px;
}
.label {
    position: relative;
    background-color: rgb(255, 250, 236);
    top: -20px;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;   
}
textarea {
    position: relative;
    background-color: rgb(255, 250, 236);
    top: -20px;
    width: 100%;
    height: 200px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
}
