#navbar {
    position: absolute;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    border: none;
    box-shadow: none;
    /* min-height: 300px;
    background-image: url(/images/cover-photo.jpg);
    background-size: cover;
    background-position-y:70%; */
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px); */
}
#navbar > h1{
    color: rgb(255, 247, 223);
}
#menuScreen{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgb(0, 0, 0, .4) 100%);  
}
#menuScreen > a:hover {
    background-color: rgba(0,0,0,.1);
}
#navWrapper {
    width: 100%;
    padding-bottom: 400px;
    background-image: url(/images/cali2021.jpeg);
    background-size:cover;
    background-position-y: 70%;
    background-position-x: 50%;
    -webkit-box-shadow: inset 0px 0px 250px 0px #000000; 
    box-shadow: inset 0px 0px 250px 0px #000000;
}
@media (max-width:900px) {
    #navWrapper {
        padding-bottom: 300px;
        background-image: url(/images/cali2021_c.jpeg);
    }
}
.clickedBG {
    background-color: none;
}
.blur {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
}
