.clickedBG{
  background-color: rgba(129, 123, 158, 0.301);
}
.hide{
    display: none;
  }
.show {
  display:block;
}
.rotate360deg{
  position: relative;
    animation-name: rotate360;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    animation-duration:500ms;
}
@keyframes rotate360 {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(180deg);
    }
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.082);
}