.hide{
    display: none;
  }
.show {
  display:block;
}
.rotate360deg{
  position: relative;
    animation-name: rotate360;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    animation-duration:500ms;
}
@keyframes rotate360 {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(180deg);
    }
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.082);
}
#navbar{
  background-color: rgb(106, 104, 131);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.22); 
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.22);
}
#menuScreen {
  background-color: rgba(129, 123, 158, 0.123);
}
#menuScreen > a {
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 250, 233);
  display: block;
  text-align: center;
}
#menuScreen > a:hover {
  background-color: rgba(129, 123, 158, 0.61);
}
#menuButtonContainer{
  position: relative;
  top: 1px;
  padding: 35px;
  font-size: 50px;
  display: inline-block;
  float: right;
  color: rgb(255, 250, 233);
  cursor: pointer;
}
#menuButton > p {
  transform: rotate(90deg);
  display: block;
  line-height: 5px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "San Francisco Regular"; */
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(79, 85, 109);
}
p {
  background-color: rgba(214, 120, 223, 0.000); 
  padding: 5px;
  /* why does this work??*/
}
h1{
  color: rgb(226, 210, 255);
  padding: 40px;
}