* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "San Francisco Regular"; */
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(79, 85, 109);
}
p {
  background-color: rgba(214, 120, 223, 0.000); 
  padding: 5px;
  /* why does this work??*/
}
h1{
  color: rgb(226, 210, 255);
  padding: 40px;
}
#codeEditorWrapper {
  height: fit-content;
  padding: 20px;
  background-color: rgba(41,45,62,1);
  -webkit-box-shadow: inset 0px 0px 15px 10px rgba(0,0,0,0.12); 
  box-shadow: inset 0px 0px 15px 10px rgba(0,0,0,0.12);
}
.codeEditiors{
  position: relative;
  display: inline-block;
  width: 49%;
  border-width: 2px;
}
.frameContainer { 
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
  background-color: rgba(214, 120, 223, 0.042);
  border-left-color: rgba(215, 120, 223, 0.24);
  border-left-width: 2px;
  border-left-style: solid;
  border-radius: 10px;
  color: rgb(255, 253, 223);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.07); 
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.07);
  font-size: 10px;
}
.variableColors{
  background-color: rgba(17, 253, 9, 0.096);
  border-left-color: rgba(17, 253, 9, 0.144);
  margin: 7px;
}
.functDEF {
  background-color: rgba(79, 255, 255, 0.082);
  border-left-color: rgba(79, 255, 255, 0.137);
  margin: 7px;
}
.activeFrames{
  background-color: rgba(253, 58, 9, 0.062);
  border-left-color: rgba(253, 66, 9, 0.226);
  margin: 7px;
}
.hide{
  display: none;
}
.show {
  display:block;
}
#console {
  position: relative;
  display: block;
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  min-height: 300px;
  padding: 30px;
  padding-left: 30px;
  background-color: rgb(106, 104, 131);
  color: white;
  overflow-y: scroll;
}
#console > p{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  height: fit-content;
  min-height: 40px;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: rgb(93, 92, 110);
  border-color: rgb(106, 104, 131);;
}
button {
  position: relative;
  top: 5px;
  padding: 10px;
  margin: 30px;
  float: left;
  margin-right: -25px;
  border-radius: 3px;
  border-style: none;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration:400ms;
}
.fade-in-no-bounce {
	opacity: 1;
	animation-name: fadeInOpacityNoBounce;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration:400ms;
}
@keyframes fadeInOpacityNoBounce {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    transform: scale(.5);
	}
  70% {
    transform: scale(1.03);
		opacity: .7;
	}
	100% {
    transform: scale(1);
		opacity: 1;
	}
}
.slideIn{
  position: relative;
	opacity: 1;
	animation-name: slideInKF;
	animation-iteration-count: 1;
	animation-timing-function:ease;
	animation-duration:100ms;
}
@keyframes slideInKF {
	0% {
		top: 15px;
    opacity: 0;
	}
  70% {
		opacity: .7;
	}
	100% {
    top: 0px;
		opacity: 1;
	}
}